
/*=======================Import font===========================*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600&display=swap');


/*=======================Reset css===========================*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/*=======================General===========================*/
:root {
    --color1:  rgb(78, 43, 235); 
    --color2:  rgb(46, 46, 46); 
    --color3:  white; 
}

body {
    background: var(--color2);
    color: var(--color3);
    font-family: 'Inter', sans-serif;
}

a{
    text-decoration: none;
    color: var(--color3);
}

li {
    list-style-type: none;
}
/*=======================Navbar===========================*/
header {
        width: 100%;
        height: auto;
        padding: 10px;
}

.navbar {
    display: flex;
    justify-content: space-between;
}


.nav-link {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/*=======================Section header===========================*/
.header-container {
    margin: 40px 30px;
    display: flex;
}

.header-right {
    min-width: 50%;
}
.header-right img {
    width: 100%;
}

.header-left {
    min-width: 50%;
}

h1 {
    font-size: 4rem;
}
.header-left h3 {
    font-size: 1.5rem;
    color: var(--color1);
    margin: 10px 0;
}

.header-left p {
    text-align: justify;
}
/*=======================Section infos===========================*/
.infos {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: black;
}

.infos-left h3{
    white-space: nowrap;
    padding:  10px 0;
}

.btn-container{
    display: flex;
    flex-direction: column;
}
.btn-container button {
    background: var(--color1);
    padding: 10px;
    border-radius: 10px;
    border: none;
    margin: 7px 0;
    color: var(--color3);
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}

.infos-right {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.img-container {
    display: flex;
    justify-content: space-around;
}

.img-container img {
    width: 20%;
}